<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.mycat.two.dao.OrdersDAO">
    <resultMap id="BaseResultMap" type="com.janita.mycat.two.bean.Orders">
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="detail_id" property="detailId" jdbcType="VARCHAR"/>
        <result column="order_type" property="orderType" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT order_id, detail_id, order_type, remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.mycat.two.bean.Orders">
        SELECT *
        FROM orders
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.mycat.two.bean.Orders">
        DELETE FROM orders
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.mycat.two.bean.Orders">
        INSERT INTO orders ( order_id, 
          detail_id, order_type, remark )
        VALUES ( #{orderId,jdbcType=VARCHAR}, 
          #{detailId,jdbcType=VARCHAR}, #{orderType,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.mycat.two.bean.Orders">
        INSERT INTO orders
        <trim prefix="(" suffixOverrides="," suffix=")">
                order_id,
            <if test="detailId != null">
                detail_id,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{orderId,jdbcType=VARCHAR},
            <if test="detailId != null">
                #{detailId,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO orders ( order_id, 
          detail_id, order_type, remark )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.orderId,jdbcType=VARCHAR}, 
            #{item.detailId,jdbcType=VARCHAR}, #{item.orderType,jdbcType=TINYINT}, #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.mycat.two.bean.Orders">
        UPDATE orders
        <set>
            <if test="detailId != null">
                detail_id = #{detailId,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.mycat.two.bean.Orders">
        UPDATE orders
        SET detail_id = #{detailId,jdbcType=VARCHAR},
            order_type = #{orderType,jdbcType=TINYINT},
            remark = #{remark,jdbcType=VARCHAR}
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </update>
</mapper>