<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.mycat.two.dao.OrderDetailDAO">
    <resultMap id="BaseResultMap" type="com.janita.mycat.two.bean.OrderDetail">
        <id column="detail_id" property="detailId" jdbcType="VARCHAR"/>
        <result column="detail_content" property="detailContent" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT detail_id, detail_content, remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.mycat.two.bean.OrderDetail">
        SELECT *
        FROM order_detail
        WHERE detail_id = #{detailId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.mycat.two.bean.OrderDetail">
        DELETE FROM order_detail
        WHERE detail_id = #{detailId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.mycat.two.bean.OrderDetail">
        INSERT INTO order_detail ( detail_id, 
          detail_content, remark )
        VALUES ( #{detailId,jdbcType=VARCHAR}, 
          #{detailContent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.mycat.two.bean.OrderDetail">
        INSERT INTO order_detail
        <trim prefix="(" suffixOverrides="," suffix=")">
                detail_id,
            <if test="detailContent != null">
                detail_content,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{detailId,jdbcType=VARCHAR},
            <if test="detailContent != null">
                #{detailContent,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO order_detail ( detail_id, 
          detail_content, remark )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.detailId,jdbcType=VARCHAR}, 
            #{item.detailContent,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.mycat.two.bean.OrderDetail">
        UPDATE order_detail
        <set>
            <if test="detailContent != null">
                detail_content = #{detailContent,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE detail_id = #{detailId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.mycat.two.bean.OrderDetail">
        UPDATE order_detail
        SET detail_content = #{detailContent,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        WHERE detail_id = #{detailId,jdbcType=VARCHAR}
    </update>
</mapper>